body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  all: unset;
  width: 4em;
  height: 2.5em;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.actionKey {
  background-color:#DCDCDC;
  border: 1px solid grey;
}

.div-result {
  height: 2em;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 16.5em;
}

.numKey {
  background-color:#F5F5F5;
  border: 1px solid grey;
}
